<h1>Login</h1>
<form method="POST" action="/login-submit">  
    <div class="container">   
        <label>email : </label>   
        <input type="text" placeholder="Enter email" name="email" required>  
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password" name="password" required>  
        <button type="submit">Login</button>   
    </div>   
</form>    